#!/bin/sh

# android
export ANDROID_HOME="$HOME/Library/Android/sdk"
export ANDROID_SDK_ROOT="$ANDROID_HOME"
export ANDROID_NDK_HOME="$ANDROID_HOME/ndk/29.0.14206865"
export PATH="$ANDROID_HOME/emulator:$ANDROID_HOME/platform-tools:$PATH"
export JAVA_HOME="/Applications/Android Studio.app/Contents/jbr/Contents/Home"
export PATH="$JAVA_HOME/bin:$PATH"

# upload signing (used to sign AAB before uploading to Google Play)
export COVE_KEYSTORE_PATH="$HOME/.secrets/cove-upload.keystore"
export COVE_KEYSTORE_PASSWORD="your-keystore-password-here"
export COVE_KEY_ALIAS="upload"
export COVE_KEY_PASSWORD="your-key-password-here"
