
*~.swift
**/**/UserInterfaceState.xcuserstate
bindings/.uniffi/
**/**/target
buildServer.json
.compile
log.txt
.nvim
ios/Cove.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

/rust/bindings
