
*~.swift
**/**/UserInterfaceState.xcuserstate
bindings/.uniffi/
**/**/target
buildServer.json
.compile
log.txt
.nvim
ios/Cove.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

/rust/bindings
/rust/ios/CoveCore.xcframework
ios/Frameworks/CoveCore.xcframework
ios/CoveCore.xcframework/
ios/CoveCore.xcframework/*
