--exclude ios/CoveCore/Sources/CoveCore/generated
--exclude rust/bindings
--exclude ios/CoveCore/Sources/cove_core_ffi.xcframework
--disable redundantSelf
--disable redundantPublic
--disable redundantNilInit
--disable wrapFunctionBodies
--disable wrapIfExpressionBodies
--disable wrapIfStatementBodies
--disable wrapLoopBodies
--disable wrapPropertyBodies
--swiftversion 6.0
