[package]
name = "cove"
version = "0.3.0"
edition = "2024"

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "cove"

[[bin]]
name = "uniffi-bindgen"
path = "src/bin/uniffi-bindgen.rs"

[features]
default = ["uniffi/cli"]

[dependencies]
# cove crates
macros = { path = "./crates/macros" }

# bdk / bitcoin
bdk_core = "0.4"
bdk_wallet = { version = "1.1", features = ["keys-bip39", "file_store", "rusqlite"] }
bip39 = { version = "2.0.0", features = ["zeroize"] }

# bitcoin nodes
bdk_esplora = { version = "0.20", features = ["async-https", "tokio"] }
bdk_electrum = { version = "0.21", features = ["use-rustls-ring"], default-features = false }
# bdk_bitcoind_rpc = { version = "0.12", features = [] }

# store bdk wallet data
bdk_file_store = { version = "0.18.0" }
bdk_chain = { version = "0.21.0" }

# import / export hardware wallet public keys
pubport = { version = "0.3.1", features = [] }

# bip329 labels
bip329 = { version = "0.4.0" }

# bitcoin
bitcoin = { version = "0.32", features = ["serde"] }

# tapsigner / satscard
rust-cktap = { git = "https://github.com/bitcoinppl/rust-cktap" }

# actors
act-zero = { version = "0.4.0", features = ["default-tokio"] }
act-zero-ext = { version = "0.1.0", git = "https://github.com/praveenperera/act-zero-ext" }

# async 
tokio = { version = "1.38", features = ["rt"] }
async-trait = "0.1.81"
futures = "0.3.30"
tryhard = "0.5"

# crypto
rand = "0.9"
zeroize = "1.8.1"

# hashing
sha2 = "0.10.8"
argon2 = { version = "0.5.0", features = ["password-hash"] }

# concurrency
crossbeam = "0.8.4"
parking_lot = { version = "0.12.1", features = ["deadlock_detection"] }
once_cell = "1.19.0"

# error handling
eyre = "0.6"
thiserror = "2.0"

# logging
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-log = "0.2"

# dirs
dirs = "6.0"

# database
redb = "2.1"

# ids
nid = "3.0"

# derive stuff
derive_more = { version = "2.0", features = [
    "display",
    "add",
    "mul",
    "from",
    "into",
    "as_ref",
    "from_str",
    "deref",
    "deref_mut",
] }
strum = { version = "0.27", features = ["derive"] }

# helpers / utils / exts
tap = "1.0.1"
itertools = "0.14"

# time 
jiff = { version = "0.2", features = [] }

# ser/de
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0"
cbor4ii = { version = "1.0", features = ["serde1"] }
serde_urlencoded = "0.7"

zerocopy = { version = "0.8", features = ["derive"] }
uniffi = { git = "https://github.com/mozilla/uniffi-rs", features = ["tokio"] }

# bit manipulation# bindings
num-bigint = "0.4"
bitvec = "1.0"

# url parsing
url = "2.5"

# encryption
chacha20poly1305 = "0.10.1"

# fast hashmap
ahash = "0.8.11"

# fmt currency
numfmt = { git = "https://github.com/bitcoinppl/numfmt" }

# http client
reqwest = { version = "0.12", features = ["json"] }

# qr
# static link libz-sys
libz-sys = { version = "1.1", features = ["static"] }
bbqr = { version = "0.3", default-features = false }

# hex / base64
hex = "0.4.3"
base64 = "0.22.0"
data-encoding = "2.8.0"

# parsing
winnow = { version = "0.7", features = ["simd"] }
memchr = "2.7"

# sync
arc-swap = "1.7"

# macros
paste = "1.0"

# bit twiddling
bitflags = "2.9"


[build-dependencies]
uniffi = { git = "https://github.com/mozilla/uniffi-rs", features = ["build"] }
# uniffi = { version = "0.29.0", features = ["build"] }

[dev-dependencies]
tokio = { version = "1.43", features = ["rt", "test-util", "macros"] }
uniffi = { git = "https://github.com/mozilla/uniffi-rs", features = ["bindgen-tests"] }
# uniffi = { version = "0.29.0", features = ["bindgen-tests"] }
tempfile = "3.16"
pretty_assertions = "1.4.1"

[profile.release]
codegen-units = 1   # Reduce number of codegen units to increase optimizations.
strip = "debuginfo"

[profile.release-smaller]
inherits = "release"
opt-level = 'z'      # Optimize for size.
lto = true           # Enable Link Time Optimization
codegen-units = 1    # Reduce number of codegen units to increase optimizations.
panic = "abort"      # Abort on panic
strip = "debuginfo"
