<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need to scan the QR code using the camera</string>

	<key>NFCReaderUsageDescription</key>
	<string>Need access to NFC to read info</string>
</dict>
</plist>
